<div id="yield_header">
  <h1>A List of All Sessions - <%= link_to 'add', new_session_path %></h1>
</div>

<table>
  <tr>
    <th>Session</th>
    <th>Artist</th>
    <th>Start/End Time</th>
    <th>Notes</th>
  </tr>
<% @sessions.each do |s| %>
  <tr>
    <td><%= s.name%></td>
    <td><%= s.display_name %></td>
    <td><%= s.strftime("%m/%d/%Y") %> - <%= s.end.strftime("%m/%d/%Y") %></td>
    <td><%= s.notes%></td>
  </tr>
<% end %>
</table>
