<h1>Sessions</h1>
<hr/>
<br/>
<table>
  <tr>
    <th>Session</th>
    <th>Artist</th>
    <th>Start/End Time</th>
    <th>Notes</th>
  </tr>
<% @sessions.each do |s| %>
  <tr>
    <td><%= s.name%></td>
    <td><%= u.display_name %></td>
    <td><%= s.strftime("%m/%d/%Y") %> - <%= s.end.strftime("%m/%d/%Y") %></td>
  </tr>
#<% @sessions.each do |s| %>
#  <%= s.name %>: <%= s.start.strftime("%m/%d/%Y") %> - <%= s.end.strftime("%m/%d/%Y") %>
#  <br />
#  <% s.users.each do |u| %>
#    <%= u.name %>
#    <br/>
#    <% u.roles.each do |r| %>
#      <%= r.name %>
#    <% end %>
#  <% end %>
#  <br/>
<% end %>
</table>
