<div id="yield_header">
  <h1>Add a New Session</h1>
</div>

<% form_tag :action => 'create' do %>
  <p>
    Name: <%= text_field_tag "session[name]" %>
  </p>
  <p>
    Start Date/Time: <%= calendar_date_select_tag "session[start]", "", :time => true %>
  </p>
  <p>
    End Date/Time: <%= calendar_date_select_tag "session[end]", "", :time => true %>
  </p>
  <p>
    Notes: <%= text_area_tag "session[notes]" %>
  </p>
  <div id="tracks">
    <%= render :partial => "track", :collection => @session.tracks %>
  </div>
  <%= add_track_link "Add a track" %>
  <br />
  <br />
  <%= submit_tag 'Add Session' %>
<% end %>
