<div id="yield_header">
  <h1>A List of All Projects - <%= link_to 'add', new_project_path %></h1>
</div>

<table>
  <tr>
    <th>Project</th>
    <th>Artist</th>
    <th>Start/End Time</th>
    <th>Notes</th>
  </tr>
<% @projects.each do |p| %>
  <tr>
    <td><%= p.name%></td>
    <td><%= u.display_name %></td>
    <td><%= p.strftime("%m/%d/%Y") %> - <%= p.end.strftime("%m/%d/%Y") %></td>
  </tr>
<% end %>
</table>
