<div id="yield_header">
  <h1>Add a New Project</h1>
</div>

<% form_tag :action => 'create' do %>
  <table>
    <tr>
      <th>Project Name</th>
      <td><%= text_field_tag "project[name]" %></td>
    </tr>
    <tr>
      <th>Start Date/Time</th>
      <td><%= calendar_date_select_tag "project[start]", "", :time => true %></td>
    </tr>
    <tr>
      <th>End Date/Time</th>
      <td><%= calendar_date_select_tag "project[end]", "", :time => true %></td>
    </tr>
    <tr>
      <th>Notes</th>
      <td><%= text_field_tag "project[notes]" %></td>
    </tr>
  </table>
  <br />
  <%= submit_tag 'Add Project' %>
<% end %>
