<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Studio Tracker - <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'site' %>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <h1><%= link_to 'Studio Tracker', '/'%> <span>( exit237 )</span></h1>
      </div>
      <div id="content">
        <div id="main">
          <% if flash[:notice] -%>
            <div id="notice"><%= flash[:notice] %></div>
          <% end -%>
          <div id="yield">
              <%= yield %>
          </div>
        </div>
      </div>
      <div id="footer"> </div>
    </div>
  </body>
</html>
